#headerCenter{
	font-family: 'Montserrat', sans-serif;
	font-size: bold;
	text-align: center;
}

#contenido{
	margin: 0 10% 0 10%;
}



/* ADDED for centering navbar items */
.navbar.inner-nav ul {
position:relative;left:50%;float:left;margin-right:0;margin-left:0;
}

/* ADDED for centering navbar items */
.navbar.inner-nav li {
position:relative;right:50%;float:left;margin:0;list-style:none
}